{% extends 'base.html.twig' %}

{% block title %}Hello ViewMovieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class='container'>
		<h1 class='text-center mb-5 mt-5 text-uppercase'>{{movie.title}}</h1>
		<div class='row d-flex justify-content-center'>
				<div class='col-lg-6 me-3 mb-5 text-center'>
					<div class="card">
						<img src="{{movie.imageUrl}}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title text-uppercase mb-3">
								<b>{{movie.title}}</b>
							</h5>
                            <p class="card-text">Réalisateur: <a href="/view/director/{{movie.id}}/{{movie.director.id}}">{{movie.director.lastName}} {{movie.director.firstName}}</a></p>
                            <p class="card-text">Durée du film: {{movie.duration}} minutes</p>
                            <p class="card-text">Date de sortie: {{movie.releasedAt|date('d/m/Y')}}</p>
                            <p class="card-text">Genre:
                            {% for item in categories %} <a href="/view/category/{{movie.id}}/{{item.id}}">{{item.label}}</a> {% if loop.last != true %} / {% endif %} {% endfor %}
                            </p>
                            <p class="card-text">Acteurs:
                            {% for item in actors %} <a href="/view/actors/{{movie.id}}/{{item.id}}">{{item.firstName}} {{item.lastName}}</a> {% if loop.last != true %} / {% endif %} {% endfor %}
                            </p>
							<p class="card-text">{{movie.description}}</p>
							<p class="card-text">Notes des spectateurs: {% if reviews_average != null %} {{reviews_average}}/5 {% else %} Aucune note {% endif %}</p>
						</div>
					</div>
				</div>
		</div>
        <div class="d-flex justify-content-center mb-3">
        <a href="/" class="btn btn-warning">Retour à la liste</a>
        </div>
		{% if app.user %}
		<div class="d-flex justify-content-center mb-5">
		<a href="{{ path('app_form_review',{'id': movie.id}) }}" class="btn btn-warning">Ajouter un commentaire</a>
		 </div>
		{% endif %}
	</div>


{% endblock %}
